*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.zero {
  width: 100%;
  background-color: #623187;
  height: 8vh;
}
.one {
  width: 100%;
  height: 5vh;
  background-color: #f1f1f2;
  display: flex;
  align-items: center;
  padding-left: 110px;
}

.one a {
  color: #f68b1e;
  text-decoration: none;
  padding-bottom: 5px;
}
.one a:hover {
  text-decoration: underline;
}
.one p {
  padding-left: 550px;
  font-weight: bold;
}
.two {
  background-color: #b91d1d;
  display: flex;
  height: 12vh;
  width: 100%;
  align-items: center;
}
.jersey {
  display: flex;
  align-items: center;
  padding-left: 110px;
}
.jersey p {
  font-size: 40px;
  font-weight: bold;
}
.search {
  display: flex;
  align-items: center;
  padding-left: 120px;
}
.search input {
  width: 650px;
  height: 46px;
  outline: none;
  border: 0.7px solid #0000005d;
  border-radius: 5px;
}
.search button {
  width: 100px;
  height: 47px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  margin-left: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: #f68b1e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.account {
  display: flex;
  gap: 30px;
}
.account a {
  padding-left: 20px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
}
.account a:hover {
  color: #f68b1e;
}
.account span{
  font-size: 15px;
  font-weight: 900;
  background-color: #f68b1e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 126px;
  left: 82.9%;
  padding: 1px 4px;
}
.main {
  background-color: #f1f1f2;
  width: 100%;
  height: 120vh;
  display: flex;
}
.main p {
  padding-left: 280px;
  padding-top: 15px;
  font-size: 14px;
}
.whole{
  width: 80vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}
.orange {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 18px;
  width: 100%;
  height: 7vh;
  background-color: #f68b1e;
  display: flex;
  align-items: center;
}
.content {
  padding-left: 20px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
}
.content a {
  border-radius: 0.2cm;
  width: 220px;
  height: 380px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #000;
  transition: transform s;
}
.content a:hover{
  transform: scale(1.1);
}
.content a:hover button{
  display: block;
}
.bla .text h6 {
  padding-top: 5px;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; /* add this to make the ellipsis work */
}
.bla .text h4 {
  padding-top: 5px;
  font-weight: 600;
}
.bla .text h5 {
  padding-top: 5px;
  text-decoration: line-through;
}
.bla img {
  width: 200px;
  height: 250px;
  padding-top: 10px;
}
.bla button{
  margin-top: 10px;
  background-color: #f68b1e;
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 40px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
  display: block;
  cursor: pointer;
}
.details{
  width: 50vw;
  height: 60vh;
  display: flex;
  margin-left: 280px;
  margin-top: 15px;
  background-color: #fff;
}
.product img{
  width: 300px;
  height: 350px;
  padding-top: 20px;
}
.product p{
  text-transform: uppercase;
  padding-left: 30px;
}
.product i{
  margin-top: 20px;
  border: 1px solid;
  padding: 5px;
  border-radius: 40px;
  margin-left: 10px;
}
.final-details{
  margin-top: 40px;
}
.final-details h4{
  font-size: 20px;
  font-weight: 800;
}
.final-details h1{
  padding-top: 30px;
}
.final-details p{
  padding-left: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.sizes{
  display: flex;
  gap: 10px;
}
.sizes button{
  width: 50px;
  margin-top: 20px;
  border: 1px solid;
  padding: 8px;
  text-transform: uppercase;
  cursor: pointer;
}
.buttonn button{
  width: 400px;
  height: 45px;
  background-color: #f68b1e;
  margin-top: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}
.final-details span{
  padding-right: 10px;
}
.cart-product{
  background-color: #fff;
  width: 50vw;
  height: 70vh;
  margin-left: 270px;
}
.cart-update{
  border-bottom: 1px solid #f1f1f2;
  padding: 10px 0 10px 10px;
}
.cart-details{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #99999c;
  margin: 0 10px 0 10px;
}
.uumh{
  display: flex;
  padding-top: 10px;
}
.uumh img{
  width: 130px;
  height: 90px;
}
.uumh p{
  padding-left: 10px;
  font-size: 17px;
}
.uumh h3{
  padding-top: 12px;
  padding-left: 200px;
  font-size: 22px;
}
.yooh{
  display: flex;
}
.yooh button{
  background-color: #fff;
  color: #f68b1e;
  border: none;
  text-transform: uppercase;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.yooh button:hover{
  background-color: #FAC58E;
}
.icons{
 display: flex;
 margin-top: 10px;
 height: 30px;
 margin-left: 650px;
}
.icons span{
  width: 40px;
}
.cart-summary{
  background-color: #fff;
  width: 18vw;
  height: 30vh;
  margin-left: 30px; 
  border-radius: 5px;
}